@import './app/shared/styles/mixins/button-styles.scss';

*{
    font-family: 'Poppins', sans-serif;
}
body {
margin: 0;
padding: 0;
}


.main-button{
    @include button-styles(#7143ee, #ffffff);
}
.secondary-button{
    @include button-styles(#ffffff, #3e3e3e);
}

